  <div class="container-fluid">
  <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="src/app/img/band.jpg" alt="First Slide">
          <div class="caption">
            <h3>Band</h3>
            <p> Bagi kalian pecinta musik untuk mencari tahu informasi band favorite kalian, bisa mencari informasi di bawah ini. </p>
            <p><a href="#" class="btn btn-default" role="button">Klik</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="src/app/img/band2.jpg" alt="Second Slide">
            <div class="caption">
              <h3>Event Saat Ini</h3>
              <p>Untuk mencari tahu event terbaru saat ini, bisa mencari informasi di bawah ini.</p>
              <p><a href="#" class="btn btn-default" role="button">Klik</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="src/app/img/band3.jpg" alt="Third Slide">
              <div class="caption">
                <h3>Media Partner</h3>
                <p>Media Partner yang berkerja sama dengan event-event kami, cari informasinya di bawah ini.</p>
                <p><a href="#" class="btn btn-default" role="button">Klik</a></p>
              </div>
            </div>
          </div>
    </div>
    </div> 